<!--titre 3 section start-->
    <h3 class="title-3" id="accueil">Qui suis je ?</h3>
    <!--titre 3 section end-->

    <!--section accueil start-->
    <section class="section-accueil">
            <!--wrapper page accueil start-->
            <div class="wrapper-accueil">

                <!--mon logo start-->
                <figure>
                    <img src="assets/img/avatar.png" alt="Kevin W web developpeur"/>
                    <figcaption class="hidden"><strong>KevinW web developpeur</strong></figcaption>
                </figure>
                <legend class="hidden"><strong>Kevin W web developpeur</strong></legend>
                <!--mon logo end-->

            </div>
            <!--wrapper page accueil end-->

        <!--div du texte start-->
        <div class="text">
        <!--présentation start-->
            <p>
                Je suis un jeune développeur web qui a décidé de se lancer dans la conception de sites web et d'applications mobiles.
            </p>

            <p>
                Auparavant pâtissier pendant 15 ans, J'ai décidé de me reconvertir, j'ai alors commencé avec une première année de développeur web - web designer,
                puis j'ai terminé le reste de mes études à Seraing sup toujours en B.E.S. développeur web.
            </p>

            <p>
                J'ai décidé par affinité de me spécialiser dans des langages tels que React,
                SvelteJs NodeJs pour le Web et flutter pour la programmation orientée smartphone.
            </p>

            <p>
                Parallèlement à cet apprentissage motivant, j'ai également commencé une formation de Pentest,
                pour lier les compétences des développeurs aux compétences de sécurité Web et pour pouvoir couvrir plus de domaines d'expertise.
            </p>
        <!--présentation end-->
        </div>
        <!--div du texte end-->
    </section>
    <!--section accueil end-->
