<!--header start-->
<header id="header">
  <!--menu start-->
  <div class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav container">
              <li><a class="nav-item nav-link text-white active col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 border-bottom border-light" [routerLink]="['/']">ACCUEIL<span class="sr-only">(current)</span></a></li>
              <li><a class="nav-item nav-link text-white col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" [routerLink]="['/realisations']">REALISATIONS</a></li>
              <li><a class="nav-item nav-link text-white col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" [routerLink]="['/services']">SERVICES</a></li>
              <li><a class="nav-item nav-link text-white col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" [routerLink]="['/contact']">CONTACT</a></li>
          </ul>
      </nav>
  </div>
  <!--menu end-->
  <!--bloc titre 1 et logo start-->
  <div class="title-header">
      <figure>
          <a href="index.html">
              <img src="assets/img/logo.png" alt="logo kevinw web developpeur">
          </a>
          <figcaption class="hidden">logo kevinw web developpeur</figcaption>
      </figure>
      <legend class="hidden">logo kevinw web developpeur</legend>
      <!--titre 1 start-->
      <h1 class="text-center">
          Kévin w.
      </h1>
      <!--titre 1 end-->
  </div>
  <!--bloc titre 1 et logo end-->
  <!--titre 2 start-->
  <h2 class="title2">
    Développeur Web - AdminSys -Pentester
  </h2>
  <!--titre 2 end-->

</header>
<!--header end-->

