footer {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
  margin: auto !important;
  width: 100% !important;
  height: 12vh !important;
  background-color: #DBDBDB;
  position: absolute;
  bottom: 0;
}
footer p {
  width: auto;
  height: auto;
  margin: auto;
  font-size: 4.2em;
  color: #000;
  font-weight: 900;
  font-family: "rocket";
}
footer a {
  margin: auto;
  background-attachment: fixed;
  width: 64px;
  height: auto;
  position: absolute;
  right: 20px;
}
footer a img {
  width: 64px;
  height: 64px;
  margin: auto;
  margin-right: 20px !important;
}
